// Primary Colors
$primary900: #020A33;
$primary800: #0C1A66;
$primary700: #1D2F99;
$primary600: #354ACB;
$primary500: #556AEB;
$primary400: #6E82FE;
$primary300: #8FA0FF;
$primary200: #B9C4FF;
$primary100: #B9C4FF;

// Neutral Colors
$neutral900: #212529;
$neutral800: #343A40;
$neutral700: #495057;
$neutral600: #6C757D;
$neutral500: #ADB5BD;
$neutral400: #CED4DA;
$neutral300: #DEE2E6;
$neutral200: #E9ECEF;
$neutral100: #F8F9FA;

$black: #000000;
$white: #FFFFFF;

// Secondary Colors
$secondary900: #332200;
$secondary800: #664200;
$secondary700: #996000;
$secondary600: #CC7C00;
$secondary500: #FF9500;
$secondary400: #FFB23B;
$secondary300: #FFCC75;
$secondary200: #FFE3B0;
$secondary100: #FFF8EB;

// Opacity
$opacity100: 100%;
$opacity80: 80%;
$opacity64: 64%;
$opacity56: 56%;
$opacity40: 40%;
$opacity24: 24%;
$opacity16: 16%;
$opacity8: 8%;
$opacity4: 4%;
